<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
          <img src="images/sauce.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Saucemed
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ml-lg-2">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item d-none d-lg-block">
              <a class="nav-link">|</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/post/new">+Add Post</a>
            </li>
          </ul>
          <ul class="navbar-nav">
             
         
               <% if(currentUser){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/profile/<%= currentUser.id %>"><strong><%= currentUser.username %></strong></a>
                </li>
                <li class="nav-item col d-none d-lg-block">
                  <a class="nav-link">|</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
               <% } else{ %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                 </li>
                 <li class="nav-item col d-none d-lg-block">
                     <a class="nav-link">|</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="/register">Create an Account</a>
                 </li>
               <% } %>

          </ul>
        </div>
    </div>
</nav>
