<%- include('partials/header') %>

<%- include('partials/navbar') %>



  <div class="site-section border-bottom mt-5 pt-5" data-aos="fade">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6">
          <div class="block-16">
            <figure>
              <img src="images/team.jpg" alt="Image placeholder" class="img-fluid rounded">
              <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="ion-md-play"></span></a>

            </figure>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          
          
          <div class="site-section-heading pt-3 mb-4">
            <h2 class="text-black">Sekilas Tentang Kami</h2>
          </div>
          <p>Kami adalah mahasiswa semester 3 stambuk 2018 jurusan Teknik Komputer Politeknik Negeri Medan</p>
          <p>Kami adalah Kelompok 8 dari CE-3B. Kami beranggotakan : Iqbal, Radiffa, dan Fauzn.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section border-bottom" data-aos="fade">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>The Team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/CheHigh.jpg" alt="Image placeholder" class="mb-4 img-about rounded-circle">
                <h3 class="block-38-heading h4">Radiffa Fadhil Gunawan Lubis</h3>
                <p class="block-38-subheading">NIM : 1805112015</p>
              </div>
              <div class="block-38-body">
                <p>"Apapun yang terjadi, tetaplah bernapas!" (Jack Laguna)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="images/person_4.jpg" alt="Image placeholder" class="mb-4 img-about rounded-circle">
                <h3 class="block-38-heading h4">Muhammad Iqbal</h3>
                <p class="block-38-subheading">NIM : 1805112026</p>
              </div>
              <div class="block-38-body">
                <p>"I do what I love, I love what I do."</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="images/person_3.jpg" alt="Image placeholder" class="mb-4 img-about rounded-circle">
                <h3 class="block-38-heading h4">Rizki Fauzan Sugiono</h3>
                <p class="block-38-subheading">NIM : 1805112030</p>
              </div>
              <div class="block-38-body">
                <p>"Usaha tangga kejayaan."</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<%- include('partials/footer') %>