<%- include('partials/header') %>

<div id="body-login">
  <div class="container">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
          </div>
    <% } %>
  
      <div class="container">
              <h1 class="display-4 text-center text-accent">Login Saucemed</h1>
              <p class="text-center">Welcome Back!</p>
      
              <div class="row justify-content-center mt-4 mb-4">
                <div class="col-10 col-md-6">
                  <form action="/login" class="login" method="POST">
                      <div class="form-group">
                        <label for="email-input" class="lbl">Email</label>
                        <input type="email" name="email" placeholder="E-mail" class="form-control shadow-none" id="email-input" aria-describedby="emailHelp" required>
                      </div>
                      <div class="form-group">
                        <label for="password-input" class="lbl">Password</label>
                        <input type="password" name="password" placeholder="Password" class="form-control shadow-none" id="password-input" required>
                        <small id="emailHelp" class="form-text">Forgot Password? <a href="#" class="text-warning">don't click here.</a></small>
                      </div>
                      <button type="submit" class="lbl my-3">Login</button>
                    </form>
              </div>
              </div>
              <p class="text-center mb-5"> Don't have an account? <a href="/register" class="text-warning">Register here. It's free!</a></p>
      </div>
    </div>
      
      
      
      <%- include('partials/footer') %>